@import "tailwindcss";


/* TurboVets brand color schemes: blue mostly */
@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #0a66c2;
  --color-primary-600: #004182;
  --color-primary-700: #003366;
  --color-primary-900: #001a33;
}


/* For toggle button to work */
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Dark mode overriding */
.dark body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-100);
}